body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  color: #ccc;
  background-color: #c4cecd;
  margin: 0 0 0 0px;
}

.page-header {
  padding-bottom: 1px;
  padding-top: 1px;
  background: #29abe2;
}

h1, .h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 2px #6C84A3;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  padding-right: 5%;
}


/* EXPANDED COLUMN */

.expanded {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.col1 {}
.expandedTime {background: #ff00ff;}
.expandedTemp {background: #00ff00;}

.col2 {}
.expandedWeather {background: #333311;}

.col3 {}
.expandedWind {background: #2211ff;}
.expandedWave { background: #ff5588;}



/* COLLAPSED COLUMN */

.collapsed {
  background: #fff;
}

.time {display: inline-block; width:19%; background: #ff00ff;}

.temp {display: inline-block; width:19%; background: #00ff00;}

.summary {display: inline-block; width:19%; background: #333311;}
.summary .img {height:auto; vertical-align: middle;}

.wind {display: inline-block; width:19%; background: #2211ff;}

.wave {display: inline-block; width:19%; background: #ff5588;}