body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #ccc;
  background-color: #c4cecd;
  margin: 0 0 0 0px;
}

.page-header {
  font-size: 12px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 0.5em;
  background: #29abe2;
}

.page-header.sticky {
  font-size: 9px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 0.5em;
  background: #1799c6;
  position: fixed;
  width: 100%;
}

h1, .h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px #6C84A3;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* EXPANDED COLUMN */

.expanded {
  background: #fff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.col1 {width: 25%; display: inline-block; float: left; }
.expandedTime {margin: 10% 0 10% 5%; font-size: 1.3em; background: #ff00ff; }
.expandedTemp {margin: 20% 0 10% 5%; font-size: 3em; font-family: Roboto Slab; serif; color: #222; background: #00ff00; }

.col2 {width: 40%; display: inline-block; padding-left: 2%;}
.expandedWeather {background: #333311;}

.col3 {width: 30%; display: inline-block; float: right;}
.expandedWind {margin: 10% 5% 10% 0; background: #2211ff;}
.expandedWave {margin: 20% 5% 10% 0; background: #ff5588;}



/* COLLAPSED COLUMN */

.collapsed {
  background: #fff; clear: both;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.time {font-size: 1.1em; margin: 7% 0 0 2%; display: inline-block; width:16%; vertical-align: top; background: #ff00ff; }

.temp {font-size: 2.2em; font-family: Roboto Slab; serif; color: #222; margin: 3% 0 0 0%; display: inline-block; width:20%; text-align: center; vertical-align: top; background: #00ff00; }

.summary {display: inline-block; width:19%; background: #ccdd22;}
.summary .img {height:auto; vertical-align: middle;}

.wind {display: inline-block; width:19%; vertical-align: top; background: #2211ff;}

.wave {display: inline-block; width:18%; vertical-align: top; background: #ff5588;}