{% for day in days %}

  <div class="page-header">
    <h1>{{ day.name }}</h1>
  </div>
  
  <div class="wrapper">

    {% for chunk in day.chunks %}
      {% if loop.first %}

        <div class="expanded">
          
          <div class="col1">
            <div class="expandedTime"><span class="iconicfill-clock"> </span>{{ chunk.hour }}</div>
            <div class="expandedTemp">{{ chunk.temperature }}°</div>
          </div>
          
          <div class="col2">
            <div class="expandedWeather"><img src="svg/sunny.svg"></div>
          </div>
          
          <div class="col3">
            <div class="expandedWind">{{ chunk.wind.speed }}kph {{ chunk.wind.cardinal }}</div>
            <div class="expandedWave">{{ chunk.wave.height }}m   {{ chunk.wave.period }}sec</div>
          </div>
          
        </div>

      {% else %}

        <div class="collapsed"> 
          <div class="time">{{ chunk.hour }}</div>
          <div class="temp">{{ chunk.temperature }}°</div>
          <div class="summary"><img src="svg/cloudy.svg"></div>
          <div class="wind">{{ chunk.wind.speed}}kph {{ chunk.wind.cardinal }}</div>
          <div class="wave">{{ chunk.wave.height }}m   {{chunk.wave.period }}sec</div>
        </div>

      {% endif %}
    {% endfor %}

  </div>

{% endfor %}
