{% for day in days %}

  {% set firstChunk = loop.first %}

  <div class="page-header">
    <h1>{{ day.name }}</h1>
  </div>
  
  <div class="wrapper">

    {% for chunk in day.chunks %}

      <div class="chunk">

        <div class="expanded {% if not firstChunk or not loop.first %}hidden{% endif %}">
          <div class="col1">
            <div class="expandedTime"><span class="iconicfill-clock"> </span>{{ chunk.hour }}</div>
            <div class="expandedTemp"><div class="tempdeg">{{ chunk.temperature }}°</div><span>AVG CELCIUS</span></div>
          </div>
          <div class="col2">
            <div class="expandedWeather"><img src="svg/partly.svg"></div>
          </div>
          <div class="col3">
            <div class="expandedWind"><img src="../png/wind.gif"><span>{{ chunk.wind.speed }}kph<br>{{ chunk.wind.cardinal }}</span></div>
            <div class="expandedWave">Wave {{ chunk.wave.height }}m   {{ chunk.wave.period }}sec <img src="../png/wave.gif"></div>
          </div>
        </div>

        <div class="collapsed {% if firstChunk and loop.first %}hidden{% endif %}"> 
          <div class="time">{{ chunk.hour }}</div>
          <div class="temp">{{ chunk.temperature }}°</div>
          <div class="summary"><img src="svg/rain.svg"></div>
          <div class="wind"><img src="svg/collapsed/wind/windy.svg"><span>{{ chunk.wind.cardinal }}<br>{{ chunk.wind.speed}}kph</span></div>
          <div class="wave"><span>{{ chunk.wave.height }}m   {{chunk.wave.period }}sec</span><img src="svg/collapsed/wave/wavey.svg"></div>
        </div>

      </div>
    {% endfor %}

  </div>

{% endfor %}
