<div class="expanded">
  
  <div class="col1">
    <div class="expandedTime"><span class="iconicfill-clock"> </span>{{ chunk.hour }}</div>
    <div class="expandedTemp">{{ chunk.temperature }}°</div>
  </div>
  
  <div class="col2">
    <div class="expandedWeather"><img src="svg/sunny.svg"></div>
  </div>
  
  <div class="col3">
    <div class="expandedWind">{{ chunk.wind.speed }}kph<br>{{ chunk.wind.cardinal }}</div>
    <div class="expandedWave">{{ chunk.wave.height }}m   {{ chunk.wave.period }}sec</div>
  </div>
  
</div>
